body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  border: 1px solid;
  width: 50%;
  height: 300px;
}
.flex {
  display: flex;
}
.side {
  width: 50%;
  margin-left: 2rem;
}
.node {
  cursor: pointer;
}
.node:hover {
  color: tomato;
}
